
html,
body {
    font-family: 'Inter Variable', system-ui, Arial, sans-serif;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    background-color: #0E100F;
    scroll-behavior: auto;
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari/Webkit */
}

body>* {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    scroll-behavior: auto;
}

body>*::-webkit-scrollbar {
    display: none;
}