body {
    overflow: auto;
    font-family: 'Inter Variable', system-ui, Arial, sans-serif;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    background-color: #0e100f;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* 全局滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* 暗色模式的滚动条 */
.dark ::-webkit-scrollbar-track {
    background: #2e2c2c;
}

.dark ::-webkit-scrollbar-thumb {
    background: #d5c8b0;
}